*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    overflow-x: hidden;
}
.banner{
    background: url(./images/countryside-woman-holding-plant-leaves.png);
    background-color: rgba(30, 30, 30, 0.60);
    width: 100%;
    height: 90vh;
    background-size: cover;
}

/* .banner::before{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.60);
} */

.navbar{
    background: #1E5128;
    width: 100%;
    padding: 15px;
    height: 5vh;

}
.navbar ul{
    display: flex;
    list-style: none;
    font-size: 14px;
}
.navbar ul{
    margin-left: 600px;
    gap: 60px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}
.navbar ul li a:hover{
    position: relative;
    border: 2px solid white;
    background: transparent;
    padding: 9px;
}
.navbar .logo{
    margin-top: -20px;
    color: white;
    font-size: 14px;
    margin-left: 150px;
    text-indent: -60px;
}
.col{
    margin-left: 50px;
    padding-top: 110px;
}
.col h3{
    font-size: 45px;
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.col h3 span{
    color: #668000;
}
.col p{
    color: white;
    font-size: 20px;
    padding-top: 20px;
}
.col button{
    margin-top: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 34px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}
.col button:hover{
    /* background: #668000; */
    color: #fff;
}
/*About*/
.about{
    margin-top: 350px;
}
.about h3{
    font-size: 25px;
    color: #1E5128;
    margin-left: 800px;
}
.about p{
    color: black;
    margin-top: 110px;
    margin-left: 100px;
    font-size: 25px;
}
.side img{
    margin-left: 1100px;
    margin-top: -450px;

}
